body {
    font-family: 'Montserrat', sans-serif;
    font size: 40px;
    margin= 0
}
h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.pink-color{
    color: deeppink;
}
section{
    display: flex;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    margin: 0cm;
    align-items: center;
}
.stay{
    border-left: 5px solid;
    padding-right: 30%;
    margin-right: 3px;
}
.redo{
    margin-top: 15px;
    padding-left: 10%;
    padding-top: 10%;
    font-size: 0.60cm;
}
.half-width{
    width: 40%;
    padding-left: 10%;
}
.muskateer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(209, 250, 244);
}
.wasy{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(236, 217, 245);
}
.kasy{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(245, 236, 199);
}
.kasy img{
    width: 60%;
    padding-top: 5%;    
    display: flex; 
    justify-content: center; 
}
.wasy img{
    width: 60%;
    padding-top: 5%;    
    display: flex; 
    justify-content: center; 
}
.muskateer img{
    width: 60%;
    padding-top: 5%;    
    display: flex; 
    justify-content: center;  
}
.third-banner{
    border-radius: 5px;
}
.developer-img{
    width: 70%;
    padding top: 5%;
    padding-bottom: 10%;
    padding-right: 15%;
    margin: 0%;
}
.develop{
    width: 70%;
    padding-left:3%;
    padding-top: 5%;
    padding-bottom: 25%;
    align-items: left;
}
.second-banner{
    justify-content: center;
    margin-top: 0%;

}
.half-width img{
     width: 60%;
     padding-top: 5%;    
     display: flex; 
     justify-content: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-family: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.fourth-banner{
    background-image: url(images/shapes/shape-1.png);
    background-position-y: 50px;
    background-position-x: 7%;
    background-size: 150px;
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
}